* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******* Global CSS variable *******/

:root {
  /* font */
  --font-content: "Indie Flower", cursive;
  /* color*/
  --dark-grey: #353638;
  --brown: #584b4f;
  --yellow: #ffd152;
  --light-yellow: #eed9b7;
  --emerald-green: #78af9f;
  --orange: #c5692e;
  --dark-blue: #3f586b;
  --light-slate-gray: #e7eaed;
}

body {
  margin: auto;
}

.container {
  position: relative;
}

#canvas {
  position: relative;
}

/****** Wrapper for lightbox *******/
.imageWrapper {
  margin: auto;
  display: flex;
}

.lightBoxWrapper {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 6em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(81, 86, 93, 0.5);
}

.lightBoxContent {
  position: relative;
  margin: auto;
  padding: 0;
  width: 70%;
  max-width: 90%;
}

.imgSlide {
  display: none;
  background-color: var(--light-slate-gray);
  border-radius: 15px;
  flex: 1;
	padding: 20px;
	flex-wrap : wrap;
	transition: 5s ease-in;
}

/* style for elements inside of imgSlide */
.starImgWrapper {
  display: flex;
	flex-direction: column;
	flex: 0.4;
}

.fa-star-half-alt {
  color: var(--yellow);
  font-size: 100px;
  flex: 0.2;
}

.nameDiv{
	flex: 0.2;
}

.numbertext {
  color: var(--super-dark-grey);
  font-size: 30px;
  padding: 20px 12px;
  position: absolute;
  bottom: 0.1em;
  right: 1em;
  font-weight: 900;
  color: var(--dark-grey);
	flex: 1;
}

.personImage {
  width: 15em;
  height: 20em;
  max-width: 15em;
  max-height: 20em;
  border-radius: 15px;
  box-shadow: 0px 6px 5px var(--super-dark-grey);
  flex: 0.6;
  z-index: 2;
}

.personInfo {
  font-family: var(--font-content);
  font-size: 25px;
  color: var(--dark-grey);
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.personInfo div {
  margin-left: 2rem;
  margin-top: 1rem;
  padding: 0.2rem;
}

.personInfo div span {
  color: var(--emerald-green);
  font-weight: 900;
}

#nameStyle {
  color: var(--brown);
  font-size: 30px;
  -webkit-animation-name: nameStandOut; /* Safari 4.0 - 8.0 */
  -webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
  animation-name: nameStandOut;
  animation-duration: 3s;
	animation-iteration-count: 2;
}

@keyframes nameStandOut {
  from {
    color: var(--brown);
    font-size: 30px;
    text-shadow: 0.5px 0.5px #222;
  }
  50% {
    color: var(--orange);
    font-size: 35px;
    text-shadow: 0.5px 0.5px #222;
	}
	75%{
		color: var(--yellow);
		font-size: 30px;
		text-shadow: 0.5px 0.5px #222;
	}
  to {
    color: var(--brown);
    font-size: 30px;
    text-shadow: 0.5px 0.5px #222;
  }
}

/* The close Button */
.close {
  color: var(--light-yellow);
  background: var(--dark-blue);
  border-radius: 10px;
	position: absolute;
	top: 5%;
	right: 5%;
  font-size: 50px;
  width: 50px;
  font-weight: bold;
  z-index: 2;
  text-align: center;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
/**/

/* Next & previous buttons */
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -50px;
	color: var(--light-yellow);
	font-weight: bold;
	font-size: 6em;
	transition: 0.6s ease;
}

/* next button to the right */
.next {
	right: 0
}

/* When hover, add a black background color to prev/next button */
.prev:hover,
.next:hover {
	background-color: rgba(0, 0, 0, 0.5);
} 

/* drawn container in canvas*/
img {
  border-radius: 50%;
}
