* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/******* Global CSS variable *******/

:root {
  /* font */
  --font-title: "Montserrat", sans-serif;
	--font-content: 'Indie Flower', cursive;
  /* color*/
	--light-yellow: #f4f7dc;
	--dark-grey : #353638;
	--brown : #584B4F;
	--yellow : #FFD152;
	--light-yellow : #EED9B7;
	--emerald-green : #78AF9F;
	--orange : #C5692E;
	--dark-blue : #3f586b; 
  --super-dark-cyan: #003f3f;
  --dark-cyan: #008b8b;
  --middle-cyan: #00bebe;
  --middle-light-cyan: #d2ffff;
  --light-cyan: #d1ffff;
  --super-dark-grey: #18191b;
  --dark-grey: #51565d;
  --middle-grey: #757c86;
  --orange: #ffa500;
  --orange-red: #ff4500;
  --gold: #ffd700;
  --light-slate-gray: #e7eaed;
  --white: #ffffff;
}

body {
  margin: auto;
}

.container {
	position: relative;
}

#canvas {
	position: relative;
}

/****** Wrapper for modal *******/
.imageWrapper {
	margin: auto;
	display: flex;
}

.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(81,86,93, 0.5);
}

.modal_content {
	position: relative;
	margin: auto;
	padding: 0;
	width: 70%;
	max-width: 1000px;
}

.imgSlide {
	display: none;
	background-color: var(--light-slate-gray);
	border-radius : 15px;
	flex: 1;
	padding: 20px;
}

/* .modal_display{
	display: flex;
} */

/* image inside of imgSlide modal_display*/
.starImgWrapper{
	display: flex;
	flex-direction : column;
}

.fa-star-half-alt{
	color : var(--yellow);
	font-size : 100px;
	flex : 0.2;
}

.numbertext {
	color: var(--super-dark-grey);
	font-size: 30px;
	padding: 8px 12px;
	position: absolute;
	bottom: 20px;
	left: 10px;
	font-weight : 900;
	color: var(--dark-grey);
	flex: 1;
}

.modal_image{
	width : 20rem;
	height: 8rem;
	max-width: 300px;
	max-height: 400px;
	border-radius: 15px;
	box-shadow: 0px 6px 5px var(--super-dark-grey);
	flex: 0.6;
	z-index: 2;
}

.personInfo{
	font-family: var(--font-content);
	font-size : 25px;
	color : var(--dark-grey);
	flex: 1;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}

.personInfo div{
	margin-left : 2rem;
	margin-top: 1rem;
	padding: 0.5rem;
	animation-duration: 3s;
	animation-name: slidein;
}

@keyframes slidein {
	from {
		margin-left: 100%;
		width: 150%; 
	}

	75% {
		font-size: 200%;
		margin-left: 25%;
		width: 120%;
	}

	to {
		margin-left: 0%;
		width: 100%;
	}
}

.personInfo div span{
	color : var(--emerald-green);
	font-weight: 900;
}

#nameStyle{
	color: var(--brown);
	font-size: 30px;
	-webkit-animation-name: nameStandOut; /* Safari 4.0 - 8.0 */
	-webkit-animation-duration: 3s; /* Safari 4.0 - 8.0 */
	animation-name: nameStandOut;
	animation-duration: 3s;
	animation-iteration-count: 2;
}

@keyframes nameStandOut {
	from {color: var(--brown);
				font-size: 30px;
				text-shadow: .5px .5px #222;}
	to {color: var(--yellow);
			font-size: 35px;
			text-shadow: .5px .5px #222;}
}

/* The Close Button */
.close {
	color: var(--light-yellow);
	background: var(--dark-blue);
	border-radius: 10px;
	position: absolute;
	top: 120px;
	right: 250px;
	font-size: 50px;
	width: 50px;
	font-weight: bold;
	z-index: 2;
	text-align : center;
}

.close:hover,
.close:focus {
	color: #999;
	text-decoration: none;
	cursor: pointer;
}

/* drawn container in canvas*/
.infoContainer {
	display: none;
	position: absolute;
	width: 200px;
	height: 300px;
	border-radius: 20px;
	border: 2px solid #ccc;
}

img{
	border-radius: 50%;
}


